/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/*
 * Zen grids setup =============================================================
 */
/* containers */
/* line 52, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#page:before, #page:after {
  content: "";
  display: table;
}
/* line 56, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#page:after {
  clear: both;
}

/* grid items */
/* line 42, ../../sass/layouts/responsive.scss */
#header,
#main,
#footer,
#tabs,
.breadcrumb,
.site-messages,
.site-page-title {
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

@media all and (min-width: 960px) {
  /*
   * Use 12 grid columns for larger screens.
   * The page stops being fluid past 960px. This is something to look at in
   * the future.
   */
  /* line 56, ../../sass/layouts/responsive.scss */
  #page {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
  }

  /* line 62, ../../sass/layouts/responsive.scss */
  #header {
    clear: left;
    float: left;
    width: 960px;
    margin-left: 0px;
    margin-right: -960px;
  }

  /* line 70, ../../sass/layouts/responsive.scss */
  #tabs,
  .breadcrumb,
  .site-messages,
  .site-page-title {
    clear: left;
    float: left;
    width: 960px;
    margin-left: 0px;
    margin-right: -960px;
  }

  /* line 75, ../../sass/layouts/responsive.scss */
  #main {
    clear: left;
    float: left;
    width: 960px;
    margin-left: 0px;
    margin-right: -960px;
    padding-left: 0;
    padding-right: 0;
  }

  /* line 81, ../../sass/layouts/responsive.scss */
  .main-nested-false #main {
    padding-left: 5px;
    padding-right: 5px;
  }

  /* line 86, ../../sass/layouts/responsive.scss */
  #footer {
    clear: left;
    float: left;
    width: 960px;
    margin-left: 0px;
    margin-right: -960px;
  }
}
/*
 * One Three Two custom panels layout ==========================================
 */
/* line 102, ../../sass/layouts/responsive.scss */
.onethreetwo-hero,
.onethreetwo-col1,
.onethreetwo-col2,
.onethreetwo-col3,
.onethreetwo-left,
.onethreetwo-right {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

@media all and (min-width: 960px) {
  /* line 107, ../../sass/layouts/responsive.scss */
  .onethreetwo-hero {
    float: left;
    width: 960px;
    margin-left: 0px;
    margin-right: -960px;
  }

  /* line 110, ../../sass/layouts/responsive.scss */
  .onethreetwo-col1 {
    clear: left;
    float: left;
    width: 320px;
    margin-left: 0px;
    margin-right: -320px;
  }

  /* line 114, ../../sass/layouts/responsive.scss */
  .onethreetwo-col2 {
    float: left;
    width: 320px;
    margin-left: 320px;
    margin-right: -640px;
  }

  /* line 117, ../../sass/layouts/responsive.scss */
  .onethreetwo-col3 {
    float: left;
    width: 320px;
    margin-left: 640px;
    margin-right: -960px;
  }

  /* line 120, ../../sass/layouts/responsive.scss */
  .onethreetwo-left {
    clear: left;
    float: left;
    width: 720px;
    margin-left: 0px;
    margin-right: -720px;
  }

  /* line 124, ../../sass/layouts/responsive.scss */
  .onethreetwo-right {
    float: left;
    width: 240px;
    margin-left: 720px;
    margin-right: -960px;
  }
}
/*
 * One Four Two custom panels layout ==========================================
 */
/* line 139, ../../sass/layouts/responsive.scss */
.onefourtwo-hero,
.onefourtwo-col1,
.onefourtwo-col2,
.onefourtwo-col3,
.onefourtwo-left,
.onefourtwo-right {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

@media all and (min-width: 960px) {
  /* line 144, ../../sass/layouts/responsive.scss */
  .onefourtwo-hero {
    float: left;
    width: 960px;
    margin-left: 0px;
    margin-right: -960px;
  }

  /* line 147, ../../sass/layouts/responsive.scss */
  .onefourtwo-col1 {
    clear: left;
    float: left;
    width: 240px;
    margin-left: 0px;
    margin-right: -240px;
  }

  /* line 151, ../../sass/layouts/responsive.scss */
  .onefourtwo-col2 {
    float: left;
    width: 240px;
    margin-left: 240px;
    margin-right: -480px;
  }

  /* line 154, ../../sass/layouts/responsive.scss */
  .onefourtwo-col3 {
    float: left;
    width: 240px;
    margin-left: 480px;
    margin-right: -720px;
  }

  /* line 157, ../../sass/layouts/responsive.scss */
  .onefourtwo-col4 {
    float: left;
    width: 240px;
    margin-left: 720px;
    margin-right: -960px;
  }

  /* line 160, ../../sass/layouts/responsive.scss */
  .onefourtwo-left {
    clear: left;
    float: left;
    width: 720px;
    margin-left: 0px;
    margin-right: -720px;
  }

  /* line 164, ../../sass/layouts/responsive.scss */
  .onefourtwo-right {
    float: left;
    width: 240px;
    margin-left: 720px;
    margin-right: -960px;
  }
}
/*
 * Three Nine custom panels layout =============================================
 */
/* line 173, ../../sass/layouts/responsive.scss */
.threenine-left,
.threenine-right {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

@media all and (min-width: 960px) {
  /* line 178, ../../sass/layouts/responsive.scss */
  .threenine-left {
    clear: left;
    float: left;
    width: 320px;
    margin-left: 0px;
    margin-right: -320px;
    padding-left: 5px;
  }

  /* line 183, ../../sass/layouts/responsive.scss */
  .threenine-right {
    float: left;
    width: 640px;
    margin-left: 320px;
    margin-right: -960px;
    padding-right: 5px;
  }
}
/*
 * Eight Four custom panels layout =============================================
 */
/* line 193, ../../sass/layouts/responsive.scss */
.eightfour-left,
.eightfour-right {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

@media all and (min-width: 960px) {
  /* line 198, ../../sass/layouts/responsive.scss */
  .eightfour-left {
    clear: left;
    float: left;
    width: 640px;
    margin-left: 0px;
    margin-right: -640px;
    padding-left: 5px;
  }

  /* line 203, ../../sass/layouts/responsive.scss */
  .eightfour-right {
    float: left;
    width: 320px;
    margin-left: 640px;
    margin-right: -960px;
    padding-right: 5px;
  }
}
/*
 * Eight Four Two custom panels layout =========================================
 */
/* line 216, ../../sass/layouts/responsive.scss */
.eightfourtwo-main,
.eightfourtwo-side,
.eightfourtwo-left,
.eightfourtwo-right,
.eightfourtwo-bottom {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

@media all and (min-width: 960px) {
  /* line 221, ../../sass/layouts/responsive.scss */
  .eightfourtwo-side {
    float: right;
    width: 320px;
    margin-right: 0px;
    margin-left: -320px;
  }

  /* line 224, ../../sass/layouts/responsive.scss */
  .eightfourtwo-main {
    float: left;
    width: 640px;
    margin-left: 0px;
    margin-right: -640px;
  }

  /* line 227, ../../sass/layouts/responsive.scss */
  .eightfourtwo-left {
    clear: left;
    float: left;
    width: 320px;
    margin-left: 0px;
    margin-right: -320px;
  }

  /* line 231, ../../sass/layouts/responsive.scss */
  .eightfourtwo-right {
    float: left;
    width: 320px;
    margin-left: 320px;
    margin-right: -640px;
  }

  /* line 234, ../../sass/layouts/responsive.scss */
  .eightfourtwo-bottom {
    clear: left;
    float: left;
    width: 640px;
    margin-left: 0px;
    margin-right: -640px;
  }
}
