/**
 * @file
 * One Three Two layout styling
 */

/* Top row */
.panel-top-row {
  margin: 3em 0 4em 0;
}

.panel-top-row .pane-title,
.panel-top-row .field-name-field-image-feature-text,
.panel-top-row .field-name-field-image-feature-image {
  width: 50%;
  float: left;
}

.panel-top-row .pane-title {
  font-size: 1.85em;
  font-weight: normal;
  margin: 0 0 0.54em 0;
}

.panel-top-row .field-name-field-image-feature-text {
  clear: left;
  font-size: 1.23em;
  line-height: 1.5em;
}

.panel-top-row .field-name-field-image-feature-text p {
  margin-top: 0;
}

.panel-top-row .field-name-field-image-feature-image {
  margin-top: -3.77em;
}

/* Binary left column */
.panel-binary-left,
.panel-binary-right {
  margin-top: 4em;
}
.panel-binary-left .pane-title {
  margin-top: 0;
}
.panel-binary-right .pane-views-panes {
  margin-top: 3em;
}
.panel-binary-right .pane-views-panes .pane-title {
  margin: 0;
  font-size: 1.23em;
}
.panel-binary-right .pane-views-panes .pane-content {
  margin-top: 0.5em;
  padding-top: 0.5em;
  border-top: 1px solid #ccc;
}
