/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */

@import "base";


.node { /* Node wrapper */

  .preview & { /* Preview of the content before submitting new or updated content */
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

  .node-title { /* Node title */
  }

  .user-picture { /* The picture of the node author */
  }

  .submitted { /* The "posted by" information */
  }

  .content { /* Node's content wrapper */
  }

  ul.links { /* Node links. See also the ul.links declaration in the pages.css. */
  }

}

.node-promoted { /* A node that has been promoted to the front page */
}

.node-sticky { /* A sticky node (displayed before others in a list) */
}

.node-by-viewer { /* A node created by the current user */
}

.node-teaser { /* A node displayed as teaser */
  border-bottom: solid 1px $rule-color;
  padding-bottom: 1em;
  margin-bottom: 2em;

  .node-title {
    font-size: $base-font-size;
    margin:  0;
  }
  .field-name-body {
    margin-bottom: 1em;

    p {
      margin-top: 0;
    }
  }
  span.field-label {
    display: inline-block;
    padding: 0;
    color: $text-color-tertiary;
  }
  .field-label-inline {
    display: inline-block;
  }
  .links.inline {
    display: block;
    margin: 0;
    text-align: right;
  }
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */

.node-page { /* Page content node */
}

.node-article { /* Article content node */
}

.node-unpublished { /* Unpublished nodes */
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */

  p.unpublished { /* The word "Unpublished" displayed underneath the content. */
    @include unpublished-div;
  }
}

.node-scenario { /* Scenario content node */
}
.node-scenario.node-teaser {
  .field-label + .field-name-field-scenario-subject:before {
    content: none;
  }
  .field-name-field-scenario-subject:before {
    content: ",";
    color: $text-color-tertiary;
  }
  .body-missing {
    margin: 0 0 1em 0;
    color: $text-color-tertiary;

    a:link,
    a:visited {
      color: $text-color-tertiary;
      font-style: italic;
    }
  }
  // .field-name-field-scenario-subject
}

.page-node-add-scenario,
.page-node-edit {
  .node-scenario-form {
    .form-item-title {
      font-size: 1.23em;
      margin-bottom: 0;
    }

    .form-item-title input,
    .form-field-name-field-scenario-source input {
      width: 100%;
      height: 2.12em;
      box-sizing: border-box;
    }

    .form-field-name-field-scenario-source .form-wrapper {
      margin-top: 0;
    }

    .form-actions {
      margin-top: 3em;
      padding: 1em;
      font-size: 1.23em;
      border: 1px solid transparent;
      background: $bg-color-dark;
      border-radius: 4px;

      input[type="submit"] {
        margin-bottom: 1em;
      }
    }

    div.vertical-tabs {
      margin-top: 2em;
    }
  }
  div.messages {
    margin-bottom: 0;
  }
}
