/**
 * @file
 * Panels Styling
 *
 * Styling for custom pages
 */

@import "base";

/*
 * Node edit page ==============================================================
 */
.scenario-edit-expanded {
  .eightfourtwo-side {
    .form-field-type-text input {
      width: 100%;
      height: 2.12em;
    }

    .container-inline-date .form-item input {
      width: 100%;
    }
  }

  .form-field-name-field-scenario-time fieldset,
  .form-field-name-field-scenario-time input[type="text"] {
    width: 100%;
  }

  .form-field-type-image input[type="file"],
  .form-field-type-image input[type="submit"],
  .form-type-managed-file  input[type="file"],
  .form-type-managed-file  input[type="submit"] {
    margin-bottom: 1em;
  }
}

/* "Your scenarios" table. */
.pane-user-scenarios-table-list {
  margin-top: 2em;
}
.pane-user-scenarios-table-list .pane-title {
  font-size: 1.23em;
  margin: 0 0 0.625em 0;
  padding-bottom: 0.625em;
  border-bottom: solid 1px #ccc;
}
.pane-user-scenarios-table-list table,
.pane-user-scenarios-table-list tbody {
  margin: 0;
  border: none;
}
.pane-user-scenarios-table-list table {
  width: 100%;
  color: #555;
}
.pane-user-scenarios-table-list table td {
  vertical-align: top;
  padding-bottom: 0.5em;
}
.pane-user-scenarios-table-list table td.views-field-view-node,
.pane-user-scenarios-table-list table td.views-field-edit-node {
  padding-left: 1em;
}

/*
 * Engage page =================================================================
 */
.page-engage {
  /* Top row */
  .onethreetwo-hero {
    margin: 3em 0 4em 0;
  }

  .onethreetwo-hero .pane-title,
  .onethreetwo-hero .field-name-field-image-feature-text,
  .onethreetwo-hero .field-name-field-image-feature-image {
    width: 50%;
    float: left;
  }

  .onethreetwo-hero .pane-title {
    font-size: 1.85em;
    font-weight: normal;
    margin: 0 0 0.54em 0;
  }

  .onethreetwo-hero .field-name-field-image-feature-text {
    clear: left;
    font-size: 1.23em;
    line-height: 1.5em;
  }

  .onethreetwo-hero .field-name-field-image-feature-text p {
    margin-top: 0;
  }

  .onethreetwo-hero .field-name-field-image-feature-image {
    margin-top: -3.77em;
  }

  /* Binary left column */
  .onethreetwo-left,
  .onethreetwo-right {
    margin-top: 4em;
  }
  .onethreetwo-left .pane-title {
    margin-top: 0;
  }
  .onethreetwo-right .pane-views-panes {
    margin-top: 3em;
  }
  .onethreetwo-right .pane-views-panes .pane-title {
    margin: 0;
    font-size: 1.23em;
  }
  .onethreetwo-right .pane-views-panes .pane-content {
    margin-top: 0.5em;
    padding-top: 0.5em;
    border-top: 1px solid #ccc;
  }
}


/*
 * Contribute page =============================================================
 */

.page-contribute {
  .center-wrapper {
    clear: both;
  }

  .pane-bundle-image-feature {
    .pane-title {
      font-weight: normal;
    }

    .pane-title,
    .field-name-field-image-feature-text,
    .field-name-field-image-feature-image {
      width: 50%;
      float: left;
    }

    .field-name-field-image-feature-text {
      clear: left;

      p {
        margin-top: 0;
      }
    }
  }

  .panel-col-first,
  .panel-col,
  .panel-col-last {
    .pane-title {
      font-size: $h5-font-size;
    }
  }

}

/*
 * Improve page ================================================================
 */

.page-improve {
  .pane-views-panes {
    .pane-title {
      font-size: $h5-font-size;
      border-bottom: solid 1px $rule-color;
      padding-bottom: 0.5em;
      margin-bottom: 0.5em;
    }

    .view-header {
      margin-bottom: 1em;
    }
  }

  .panel-row-top { /* top row region */
    .pane-title {
      font-weight: normal;
    }

    .pane-title,
    .field-name-field-image-feature-text,
    .field-name-field-image-feature-image {
      width: 50%;
      float: left;
    }

    .field-name-field-image-feature-text {
      clear: left;

      p {
        margin-top: 0;
      }
    }
  }
}

/*
 * Discover page ===============================================================
 */

/* display mode buttons */
.threenine-right {
  position: relative;
}
.display-mode {
  // float: right;
  position: absolute;
  right: 5px;
  top: -36px - 13px;
  width: 114px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li:first-child {
      margin-left: 0;

      a {
        background-position: 7px 7px;
        @include border-top-left-radius(4px);
        @include border-bottom-left-radius(4px);
      }
    }

    li:last-child {
      a {
        @include border-top-right-radius(4px);
        @include border-bottom-right-radius(4px);
      }
    }

    li {
      float: left;
      margin-left: -1px;

      a {
        display: block;
        width: 36px;
        height: 36px;
        padding: 6px;
        border: 1px solid $rule-color-light;
        background: $bg-color-dark url('../images/glyphicons/glyphicons_114_list.png') 6px 6px no-repeat;

        span {
          display: none;
        }
      }

      a.active {
        background-color: $bg-color-light;
      }

      a.mode-timeline {
        // background: transparent url('../images/glyphicons/glyphicons_045_calendar.png') 4px 4px no-repeat;
        background-image: url('../images/glyphicons/glyphicons_045_calendar.png');
      }

      a.mode-map {
        // background: transparent url('../images/glyphicons/glyphicons_370_globe_af.png') 4px 4px no-repeat;
        background-image: url('../images/glyphicons/glyphicons_370_globe_af.png');
      }

    }
  }
}

/* Text mode */

/* Exposed filter form */
.page-discover {
  #views-exposed-form-browse-scenarios-discover-mode-list,
  #views-exposed-form-timeline-scenarios-discover-mode-time,
  #views-exposed-form-map-scenarios-discover-mode-map {
    background-color: $bg-color-dark;
    @include border-radius(4px);
    padding: 1em;

    input[type="text"] {
      width: 100%;
    }
  }
  .views-exposed-widget {
    float: none;
    padding: 0;
    margin-bottom: 2em;

    & > label {
      border-bottom: 1px solid $rule-color;
      margin-bottom: 0.5em;
    }

    .description {
      font-size: $small-font-size;
      color: $text-color-secondary;
    }
  }

  .views-widget-filter-keys {
    .views-widget {
      margin-bottom: 0.77em;
    }
    label {
      display: none;
    }
    .form-item-keys {
      display: inline-block;
      // margin: 0;
      input {margin:0;}
    }
    .form-submit {
      // margin: 0;
      margin-top: 0;
      // margin-bottom: 0.77em;
      display: inline-block;
    }
  }

  .views-widget-filter-date_filter_1,
  .views-widget-filter-date_filter {
    .container-inline-date {
      .form-item .date-date input {
        margin-right: 0;
      }
      label {
        // border: 1px solid green;
        line-height: 1.5em;
        padding: 4px 6px;
        float: left;
        font-weight: normal;
      }
      .form-item-date-filter-min label,
      .form-item-date-filter-1-min label {
        padding-left: 0;
      }
      .form-item-date-filter-min,
      .form-item-date-filter-1-min {
        margin-right: 0;
      }
    }
  }

  #edit-date-filter-min-wrapper,
  #edit-date-filter-max-wrapper {
    display: inline-block;
  }

  .views-widget-per-page {
    .form-item.form-type-item {
      & > label {
        border-bottom: 1px solid $rule-color;
        margin-bottom: 0.5em;
      }
      .form-item-items-per-page-item {
        label {
          font-weight: normal;
          line-height: 1.5em;
          padding: 4px 6px 4px 0;
          float: left;
          font-weight: normal;
        }
      }
    }
  }

  .views-exposed-widget.views-submit-button,
  .views-exposed-widget.views-reset-button {
    display: inline-block;
    float: right;
    margin: 0;
    .form-submit {
      margin-top: 0;
    }
  }

}