/**
 * @file
 * Form Styling
 */
/**
 * Some form defaults in addition to those provided in normalize.css
 */
/* line 25, ../sass/forms.scss */
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

/* line 45, ../sass/forms.scss */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  height: 1.5em;
  padding: 4px 6px;
  margin-bottom: 0.77em;
  line-height: 1.5em;
  color: #555555;
  vertical-align: middle;
}

/* line 58, ../sass/forms.scss */
select,
textarea {
  height: auto;
}

/* line 62, ../sass/forms.scss */
select {
  background-color: #eeeeee;
}

/* line 66, ../sass/forms.scss */
textarea {
  resize: none;
}

/* line 70, ../sass/forms.scss */
fieldset.form-wrapper {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin: 1em 0;
}
/* line 74, ../sass/forms.scss */
fieldset.form-wrapper .fieldset-legend {
  font-weight: bold;
}

/* fix margin for node edit form text-filter fieldset */
/* line 80, ../sass/forms.scss */
fieldset.form-wrapper.filter-wrapper {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  margin: 0;
}

/* line 86, ../sass/forms.scss */
.form-item {
  /* Wrapper for a form element (or group of form elements) and its label */
  margin: 1.5em 0;
}
/* line 91, ../sass/forms.scss */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  /* Highlight the form elements that caused a form submission error */
  border: 1px solid #40f9ff;
}
/* line 95, ../sass/forms.scss */
.form-item label {
  /* The label for a form element */
  display: block;
  font-weight: bold;
  margin-bottom: 0.38em;
}
/* line 101, ../sass/forms.scss */
.form-item label.option {
  /* The label for a radio button or checkbox */
  display: inline;
  font-weight: normal;
}
/* line 106, ../sass/forms.scss */
.form-item .form-required {
  /* The part of the label that indicates a required field */
  color: #555555;
}
/* line 110, ../sass/forms.scss */
.form-item .description {
  /* The descriptive help text (separate from the label) */
  font-size: 0.85em;
}
/* line 115, ../sass/forms.scss */
.form-checkboxes .form-item, .form-radios .form-item {
  /* Pack groups of checkboxes and radio buttons closer together */
  margin: 0;
  /* Drupal core uses "0.4em 0" */
}

/* line 120, ../sass/forms.scss */
.form-submit {
  /* The submit button */
  margin-right: 1em;
}

/* line 126, ../sass/forms.scss */
.container-inline div,
.container-inline label {
  /* Inline labels and form divs */
  display: inline;
}

/* line 131, ../sass/forms.scss */
.tips {
  /* Tips for Drupal's input formats */
}

/* line 134, ../sass/forms.scss */
a.button {
  /* Buttons used by contrib modules like Media */
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

/*
 * Password confirmation
 */
/* line 143, ../sass/forms.scss */
.password-parent,
.confirm-parent {
  margin: 0;
}

/*
 * Search (search-block-form.tpl.php)
 */
/* line 151, ../sass/forms.scss */
#block-search-form {
  /* Wrapper for the search form */
}

/*
 * Drupal's default login form block
 */
/* line 158, ../sass/forms.scss */
#user-login-form {
  text-align: left;
  /* LTR */
  /*
   * OpenID
   *
   * The default styling for the OpenID login link seems to assume Garland's
   * styling of list items.
   */
}
/* line 168, ../sass/forms.scss */
#user-login-form ul {
  /* OpenID creates a new ul above the login form's links. */
  margin-bottom: 0;
  /* Position OpenID's ul next to the rest of the links. */
}
/* line 173, ../sass/forms.scss */
html.js #user-login-form li.openid-link,
#user-login-form li.openid-link {
  /* The "Log in using OpenID" link. */
  margin-top: 1.5em;
  margin-left: -20px;
  /* LTR */
  /* Un-do some of the padding on the ul list. */
}
/* line 178, ../sass/forms.scss */
#user-login-form li.user-link {
  /* The "Cancel OpenID login" link. */
  margin-top: 1.5em;
}

/* line 183, ../sass/forms.scss */
#user-login ul {
  margin: 1.5em 0;
}

/*
 * Drupal admin tables
 *
 * We overrode these styles in normalize.css, but restore them for the admin
 * section of the site.
 */
/* line 195, ../sass/forms.scss */
form th {
  text-align: left;
  /* LTR */
  padding-right: 1em;
  /* LTR */
  border-bottom: 3px solid #ccc;
}
/* line 201, ../sass/forms.scss */
form tbody {
  border-top: 1px solid #ccc;
}
/* line 205, ../sass/forms.scss */
form tr.even {
  background-color: #fff;
}
/* line 209, ../sass/forms.scss */
form table .item-list ul {
  margin: 0;
}

/*
 * Drupal core wrongly puts this in system.menus.css. Since we override that, add it back.
 */
/* line 228, ../sass/forms.scss */
td.menu-disabled {
  background: #ccc;
}

/*
 * Autocomplete throbber
 */
/* line 236, ../sass/forms.scss */
html.js input.form-autocomplete {
  background-image: url(../images/hudson-throbber.gif);
  background-position: 100% -1px;
}

/* line 241, ../sass/forms.scss */
html.js input.throbbing {
  background-image: url(../images/hudson-throbber.gif);
  background-position: 100% -29px;
}

/*
 * Node form defaults
 */
/* line 250, ../sass/forms.scss */
.field-name-body textarea.text-full {
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* line 254, ../sass/forms.scss */
.form-field-type-image {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
  padding: 0 1.5em;
}

/* line 261, ../sass/forms.scss */
.ajax-progress .throbber {
  background: transparent url(../images/hudson-throbber.gif) no-repeat 0px -29px;
  height: 29px;
  margin: 2px;
  width: 29px;
}
