/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */
/* line 11, ../sass/nodes.scss */
.node {
  /* Node wrapper */
}
/* line 13, ../sass/nodes.scss */
.preview .node {
  /* Preview of the content before submitting new or updated content */
  /* background-color: #ffffea; */
  /* Drupal core uses a #ffffea background */
}
/* line 17, ../sass/nodes.scss */
.node .node-title {
  /* Node title */
}
/* line 20, ../sass/nodes.scss */
.node .user-picture {
  /* The picture of the node author */
}
/* line 23, ../sass/nodes.scss */
.node .submitted {
  /* The "posted by" information */
}
/* line 26, ../sass/nodes.scss */
.node .content {
  /* Node's content wrapper */
}
/* line 29, ../sass/nodes.scss */
.node ul.links {
  /* Node links. See also the ul.links declaration in the pages.css. */
}

/* line 34, ../sass/nodes.scss */
.node-promoted {
  /* A node that has been promoted to the front page */
}

/* line 37, ../sass/nodes.scss */
.node-sticky {
  /* A sticky node (displayed before others in a list) */
}

/* line 40, ../sass/nodes.scss */
.node-by-viewer {
  /* A node created by the current user */
}

/* line 43, ../sass/nodes.scss */
.node-teaser {
  /* A node displayed as teaser */
  border-bottom: solid 1px #cccccc;
  padding-bottom: 1em;
  margin-bottom: 2em;
}
/* line 48, ../sass/nodes.scss */
.node-teaser .node-title {
  font-size: 13px;
  margin: 0;
}
/* line 52, ../sass/nodes.scss */
.node-teaser .field-name-body {
  margin-bottom: 1em;
}
/* line 55, ../sass/nodes.scss */
.node-teaser .field-name-body p {
  margin-top: 0;
}
/* line 59, ../sass/nodes.scss */
.node-teaser span.field-label {
  display: inline-block;
  padding: 0;
  color: #999999;
}
/* line 64, ../sass/nodes.scss */
.node-teaser .field-label-inline {
  display: inline-block;
}
/* line 67, ../sass/nodes.scss */
.node-teaser .links.inline {
  display: block;
  margin: 0;
  text-align: right;
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */
/* line 80, ../sass/nodes.scss */
.node-page {
  /* Page content node */
}

/* line 83, ../sass/nodes.scss */
.node-article {
  /* Article content node */
}

/* line 86, ../sass/nodes.scss */
.node-unpublished {
  /* Unpublished nodes */
  /* background-color: #fff4f4; */
  /* Drupal core uses a #fff4f4 background */
}
/* line 89, ../sass/nodes.scss */
.node-unpublished p.unpublished {
  /* The word "Unpublished" displayed underneath the content. */
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
}

/* line 94, ../sass/nodes.scss */
.node-scenario {
  /* Scenario content node */
}

/* line 97, ../sass/nodes.scss */
.node-scenario.node-teaser .field-label + .field-name-field-scenario-subject:before {
  content: none;
}
/* line 100, ../sass/nodes.scss */
.node-scenario.node-teaser .field-name-field-scenario-subject:before {
  content: ",";
  color: #999999;
}

/* line 110, ../sass/nodes.scss */
.page-node-add-scenario .node-scenario-form .form-item-title,
.page-node-edit .node-scenario-form .form-item-title {
  font-size: 1.23em;
  margin-bottom: 0;
}
/* line 116, ../sass/nodes.scss */
.page-node-add-scenario .node-scenario-form .form-item-title input,
.page-node-add-scenario .node-scenario-form .form-field-name-field-scenario-source input,
.page-node-edit .node-scenario-form .form-item-title input,
.page-node-edit .node-scenario-form .form-field-name-field-scenario-source input {
  width: 100%;
  height: 2.12em;
  box-sizing: border-box;
}
/* line 122, ../sass/nodes.scss */
.page-node-add-scenario .node-scenario-form .form-field-name-field-scenario-source .form-wrapper,
.page-node-edit .node-scenario-form .form-field-name-field-scenario-source .form-wrapper {
  margin-top: 0;
}
/* line 126, ../sass/nodes.scss */
.page-node-add-scenario .node-scenario-form .form-actions,
.page-node-edit .node-scenario-form .form-actions {
  margin-top: 2em;
  padding: 1em;
  font-size: 1.23em;
  border: 1px solid transparent;
  background: #eeeeee;
  border-radius: 4px;
}
/* line 134, ../sass/nodes.scss */
.page-node-add-scenario .node-scenario-form .form-actions input[type="submit"],
.page-node-edit .node-scenario-form .form-actions input[type="submit"] {
  margin-bottom: 1em;
}
/* line 139, ../sass/nodes.scss */
.page-node-add-scenario .node-scenario-form div.vertical-tabs,
.page-node-edit .node-scenario-form div.vertical-tabs {
  margin-top: 2em;
}
/* line 143, ../sass/nodes.scss */
.page-node-add-scenario div.messages,
.page-node-edit div.messages {
  margin-bottom: 0;
}
