/**
 * @file
 * Panels Styling
 *
 * Styling for custom pages
 */
/*
 * Node edit page ==============================================================
 */
/* line 15, ../sass/panels.scss */
.scenario-edit-expanded .eightfourtwo-side .form-field-type-text input {
  width: 100%;
  height: 2.12em;
}
/* line 20, ../sass/panels.scss */
.scenario-edit-expanded .eightfourtwo-side .container-inline-date .form-item input {
  width: 100%;
}
/* line 26, ../sass/panels.scss */
.scenario-edit-expanded .form-field-name-field-scenario-time fieldset,
.scenario-edit-expanded .form-field-name-field-scenario-time input[type="text"] {
  width: 100%;
}
/* line 33, ../sass/panels.scss */
.scenario-edit-expanded .form-field-type-image input[type="file"],
.scenario-edit-expanded .form-field-type-image input[type="submit"],
.scenario-edit-expanded .form-type-managed-file input[type="file"],
.scenario-edit-expanded .form-type-managed-file input[type="submit"] {
  margin-bottom: 1em;
}

/* "Your scenarios" table. */
/* line 39, ../sass/panels.scss */
.pane-user-scenarios-table-list {
  margin-top: 2em;
}

/* line 42, ../sass/panels.scss */
.pane-user-scenarios-table-list .pane-title {
  font-size: 1.23em;
  margin: 0 0 0.625em 0;
  padding-bottom: 0.625em;
  border-bottom: solid 1px #ccc;
  font-weight: bold;
}

/* line 50, ../sass/panels.scss */
.pane-user-scenarios-table-list table,
.pane-user-scenarios-table-list tbody {
  margin: 0;
  border: none;
}

/* line 54, ../sass/panels.scss */
.pane-user-scenarios-table-list table {
  width: 100%;
  color: #555;
}

/* line 58, ../sass/panels.scss */
.pane-user-scenarios-table-list table td {
  vertical-align: top;
  padding-bottom: 0.5em;
}

/* line 63, ../sass/panels.scss */
.pane-user-scenarios-table-list table td.views-field-view-node,
.pane-user-scenarios-table-list table td.views-field-edit-node {
  padding-left: 1em;
}

/*
 * Engage page =================================================================
 */
/* line 70, ../sass/panels.scss */
.page-engage {
  /* Top row */
  /* Binary left column */
}
/* line 72, ../sass/panels.scss */
.page-engage .onethreetwo-hero {
  margin: 3em 0 4em 0;
}
/* line 78, ../sass/panels.scss */
.page-engage .onethreetwo-hero .pane-title,
.page-engage .onethreetwo-hero .field-name-field-image-feature-text,
.page-engage .onethreetwo-hero .field-name-field-image-feature-image {
  width: 50%;
  float: left;
}
/* line 83, ../sass/panels.scss */
.page-engage .onethreetwo-hero .pane-title {
  font-size: 1.85em;
  font-weight: normal;
  margin: 0 0 0.54em 0;
}
/* line 89, ../sass/panels.scss */
.page-engage .onethreetwo-hero .field-name-field-image-feature-text {
  clear: left;
  font-size: 1.23em;
  line-height: 1.5em;
}
/* line 95, ../sass/panels.scss */
.page-engage .onethreetwo-hero .field-name-field-image-feature-text p {
  margin-top: 0;
}
/* line 99, ../sass/panels.scss */
.page-engage .onethreetwo-hero .field-name-field-image-feature-image {
  margin-top: -3.77em;
}
/* line 105, ../sass/panels.scss */
.page-engage .onethreetwo-left,
.page-engage .onethreetwo-right {
  margin-top: 4em;
}
/* line 108, ../sass/panels.scss */
.page-engage .onethreetwo-left .pane-title {
  margin-top: 0;
}
/* line 111, ../sass/panels.scss */
.page-engage .onethreetwo-right .pane-views-panes {
  margin-top: 3em;
}
/* line 114, ../sass/panels.scss */
.page-engage .onethreetwo-right .pane-views-panes .pane-title {
  margin: 0;
  font-size: 1.23em;
  font-weight: bold;
}
/* line 119, ../sass/panels.scss */
.page-engage .onethreetwo-right .pane-views-panes .pane-content {
  margin-top: 0.5em;
  padding-top: 0.5em;
  border-top: 1px solid #ccc;
}

/*
 * Contribute page =============================================================
 */
/* line 132, ../sass/panels.scss */
.page-contribute .center-wrapper {
  clear: both;
}
/* line 137, ../sass/panels.scss */
.page-contribute .pane-bundle-image-feature .pane-title {
  font-weight: normal;
}
/* line 143, ../sass/panels.scss */
.page-contribute .pane-bundle-image-feature .pane-title,
.page-contribute .pane-bundle-image-feature .field-name-field-image-feature-text,
.page-contribute .pane-bundle-image-feature .field-name-field-image-feature-image {
  width: 50%;
  float: left;
}
/* line 148, ../sass/panels.scss */
.page-contribute .pane-bundle-image-feature .field-name-field-image-feature-text {
  clear: left;
}
/* line 151, ../sass/panels.scss */
.page-contribute .pane-bundle-image-feature .field-name-field-image-feature-text p {
  margin-top: 0;
}
/* line 160, ../sass/panels.scss */
.page-contribute .panel-col-first .pane-title,
.page-contribute .panel-col .pane-title,
.page-contribute .panel-col-last .pane-title {
  font-size: 15.99px;
}

/*
 * Improve page ================================================================
 */
/* line 173, ../sass/panels.scss */
.page-improve .pane-views-panes .pane-title {
  font-size: 15.99px;
  border-bottom: solid 1px #cccccc;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
}
/* line 181, ../sass/panels.scss */
.page-improve .pane-views-panes .view-header {
  margin-bottom: 1em;
}
/* line 186, ../sass/panels.scss */
.page-improve .onethreetwo-hero {
  /* top row region */
}
/* line 187, ../sass/panels.scss */
.page-improve .onethreetwo-hero .pane-title {
  font-weight: normal;
}
/* line 193, ../sass/panels.scss */
.page-improve .onethreetwo-hero .pane-title,
.page-improve .onethreetwo-hero .field-name-field-image-feature-text,
.page-improve .onethreetwo-hero .field-name-field-image-feature-image {
  width: 50%;
  float: left;
}
/* line 198, ../sass/panels.scss */
.page-improve .onethreetwo-hero .field-name-field-image-feature-text {
  clear: left;
}
/* line 201, ../sass/panels.scss */
.page-improve .onethreetwo-hero .field-name-field-image-feature-text p {
  margin-top: 0;
}

/*
 * Discover page ===============================================================
 */
/* display mode buttons */
/* line 213, ../sass/panels.scss */
.threenine-right {
  position: relative;
}

/* line 216, ../sass/panels.scss */
.display-mode {
  position: absolute;
  right: 5px;
  top: -49px;
  width: 114px;
}
/* line 223, ../sass/panels.scss */
.display-mode ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 228, ../sass/panels.scss */
.display-mode ul li:first-child {
  margin-left: 0;
}
/* line 231, ../sass/panels.scss */
.display-mode ul li:first-child a {
  background-position: 7px 7px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* line 239, ../sass/panels.scss */
.display-mode ul li:last-child a {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 245, ../sass/panels.scss */
.display-mode ul li {
  float: left;
  margin-left: -1px;
}
/* line 249, ../sass/panels.scss */
.display-mode ul li a {
  display: block;
  width: 36px;
  height: 36px;
  padding: 6px;
  border: 1px solid #dddddd;
  background: #eeeeee url("../images/glyphicons/glyphicons_114_list.png") 6px 6px no-repeat;
}
/* line 257, ../sass/panels.scss */
.display-mode ul li a span {
  display: none;
}
/* line 262, ../sass/panels.scss */
.display-mode ul li a.active {
  background-color: #fefefe;
}
/* line 266, ../sass/panels.scss */
.display-mode ul li a.mode-timeline {
  background-image: url("../images/glyphicons/glyphicons_045_calendar.png");
}
/* line 271, ../sass/panels.scss */
.display-mode ul li a.mode-map {
  background-image: url("../images/glyphicons/glyphicons_370_globe_af.png");
}

/* line 280, ../sass/panels.scss */
.pane-timeline-scenarios-discover-mode-time .vco-storyjs * {
  font-family: "Open Sans", Arial, Helvetica, "Nimbus Sans L", sans-serif !important;
}
/* line 282, ../sass/panels.scss */
.pane-timeline-scenarios-discover-mode-time .vco-storyjs * a {
  color: #0678be;
}

/* line 286, ../sass/panels.scss */
.pane-timeline-scenarios-discover-mode-time .vco-storyjs h3 a {
  color: #555555;
}

/* Text mode */
/* Exposed filter form */
/* line 296, ../sass/panels.scss */
.page-discover #views-exposed-form-browse-scenarios-discover-mode-list,
.page-discover #views-exposed-form-timeline-scenarios-discover-mode-time,
.page-discover #views-exposed-form-map-scenarios-discover-mode-map {
  background-color: #eeeeee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 1em;
}
/* line 301, ../sass/panels.scss */
.page-discover #views-exposed-form-browse-scenarios-discover-mode-list input[type="text"],
.page-discover #views-exposed-form-timeline-scenarios-discover-mode-time input[type="text"],
.page-discover #views-exposed-form-map-scenarios-discover-mode-map input[type="text"] {
  width: 100%;
}
/* line 305, ../sass/panels.scss */
.page-discover .views-exposed-widget {
  float: none;
  padding: 0;
  margin-bottom: 2em;
}
/* line 310, ../sass/panels.scss */
.page-discover .views-exposed-widget > label {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 0.5em;
}
/* line 315, ../sass/panels.scss */
.page-discover .views-exposed-widget .description {
  font-size: 10.998px;
  color: #555555;
}
/* line 322, ../sass/panels.scss */
.page-discover .views-widget-filter-keys .views-widget {
  margin-bottom: 0.77em;
}
/* line 325, ../sass/panels.scss */
.page-discover .views-widget-filter-keys label {
  display: none;
}
/* line 328, ../sass/panels.scss */
.page-discover .views-widget-filter-keys .form-item-search {
  display: inline-block;
}
/* line 331, ../sass/panels.scss */
.page-discover .views-widget-filter-keys .form-item-search input {
  margin: 0;
}
/* line 333, ../sass/panels.scss */
.page-discover .views-widget-filter-keys .form-submit {
  margin-top: 0;
  display: inline-block;
}
/* line 344, ../sass/panels.scss */
.page-discover .views-widget-filter-date_filter_1 .container-inline-date .form-item .date-date input,
.page-discover .views-widget-filter-date_filter .container-inline-date .form-item .date-date input {
  margin-right: 0;
}
/* line 347, ../sass/panels.scss */
.page-discover .views-widget-filter-date_filter_1 .container-inline-date label,
.page-discover .views-widget-filter-date_filter .container-inline-date label {
  line-height: 1.5em;
  padding: 4px 6px;
  float: left;
  font-weight: normal;
}
/* line 355, ../sass/panels.scss */
.page-discover .views-widget-filter-date_filter_1 .container-inline-date .form-item-date-filter-min label,
.page-discover .views-widget-filter-date_filter_1 .container-inline-date .form-item-date-filter-1-min label,
.page-discover .views-widget-filter-date_filter .container-inline-date .form-item-date-filter-min label,
.page-discover .views-widget-filter-date_filter .container-inline-date .form-item-date-filter-1-min label {
  padding-left: 0;
}
/* line 359, ../sass/panels.scss */
.page-discover .views-widget-filter-date_filter_1 .container-inline-date .form-item-date-filter-min,
.page-discover .views-widget-filter-date_filter_1 .container-inline-date .form-item-date-filter-1-min,
.page-discover .views-widget-filter-date_filter .container-inline-date .form-item-date-filter-min,
.page-discover .views-widget-filter-date_filter .container-inline-date .form-item-date-filter-1-min {
  margin-right: 0;
}
/* line 366, ../sass/panels.scss */
.page-discover #edit-date-filter-min-wrapper,
.page-discover #edit-date-filter-max-wrapper {
  display: inline-block;
}
/* line 372, ../sass/panels.scss */
.page-discover .views-widget-per-page .form-item.form-type-item > label {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 0.5em;
}
/* line 377, ../sass/panels.scss */
.page-discover .views-widget-per-page .form-item.form-type-item .form-item-items-per-page-item label {
  font-weight: normal;
  line-height: 1.5em;
  padding: 4px 6px 4px 0;
  float: left;
  font-weight: normal;
}
/* line 389, ../sass/panels.scss */
.page-discover .views-exposed-widget.views-submit-button,
.page-discover .views-exposed-widget.views-reset-button {
  display: inline-block;
  float: right;
  margin: 0;
}
/* line 393, ../sass/panels.scss */
.page-discover .views-exposed-widget.views-submit-button .form-submit,
.page-discover .views-exposed-widget.views-reset-button .form-submit {
  margin-top: 0;
}
