/**
 * @file
 * Panels Styling
 *
 * Styling for custom pages
 */
/*
 * Improve page.
 */
/* line 17, ../sass/panels.scss */
.page-improve .pane-views-panes .pane-title {
  font-size: 15.99px;
  border-bottom: solid 1px #cccccc;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}
/* line 24, ../sass/panels.scss */
.page-improve .pane-views-panes .view-header {
  margin-bottom: 1em;
}
/* line 29, ../sass/panels.scss */
.page-improve .panel-row-top {
  /* top row region */
}
/* line 30, ../sass/panels.scss */
.page-improve .panel-row-top .pane-title {
  font-weight: normal;
}
/* line 36, ../sass/panels.scss */
.page-improve .panel-row-top .pane-title,
.page-improve .panel-row-top .field-name-field-image-feature-text,
.page-improve .panel-row-top .field-name-field-image-feature-image {
  width: 50%;
  float: left;
}
/* line 41, ../sass/panels.scss */
.page-improve .panel-row-top .field-name-field-image-feature-text {
  clear: left;
}
/* line 44, ../sass/panels.scss */
.page-improve .panel-row-top .field-name-field-image-feature-text p {
  margin-top: 0;
}
