/**
 * @file
 * Views Styling
 */
/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
/* line 18, ../sass/views-styles.scss */
.views-displays .secondary li {
  float: none;
  margin: 0 6px 0;
}
/* line 24, ../sass/views-styles.scss */
.views-displays .secondary a:link,
.views-displays .secondary a:visited {
  text-shadow: none;
  padding: 2px 7px 3px;
}
/* line 29, ../sass/views-styles.scss */
.views-displays .secondary .open > a {
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}
/* line 31, ../sass/views-styles.scss */
.views-displays .secondary .open > a:hover {
  color: #333;
}
/* line 36, ../sass/views-styles.scss */
.views-displays .secondary .action-list li {
  margin: 0;
}
/* line 38, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:first-child {
  -webkit-border-radius: 0 7px 0 0;
  -moz-border-radius: 0 7px 0 0;
  -ms-border-radius: 0 7px 0 0;
  -o-border-radius: 0 7px 0 0;
  border-radius: 0 7px 0 0;
}
/* line 41, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:last-child {
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}

/* line 47, ../sass/views-styles.scss */
.views-row-last .node-teaser {
  border: none;
}

/**
 * Discover page exposed filters form
 */
/* line 55, ../sass/views-styles.scss */
.page-discover .views-exposed-widget {
  float: none;
  padding: 0;
  margin-bottom: 2em;
}
/* line 60, ../sass/views-styles.scss */
.page-discover .views-exposed-widget > label {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 0.5em;
}
/* line 67, ../sass/views-styles.scss */
.page-discover .views-widget-filter-keys .views-widget {
  margin-bottom: 0.77em;
}
/* line 70, ../sass/views-styles.scss */
.page-discover .views-widget-filter-keys label {
  display: none;
}
/* line 73, ../sass/views-styles.scss */
.page-discover .views-widget-filter-keys .form-item-keys {
  display: inline-block;
}
/* line 76, ../sass/views-styles.scss */
.page-discover .views-widget-filter-keys .form-item-keys input {
  margin: 0;
}
/* line 78, ../sass/views-styles.scss */
.page-discover .views-widget-filter-keys .form-submit {
  margin-top: 0;
  display: inline-block;
}
/* line 89, ../sass/views-styles.scss */
.page-discover .views-widget-filter-date_filter_1 .container-inline-date .form-item .date-date input,
.page-discover .views-widget-filter-date_filter .container-inline-date .form-item .date-date input {
  margin-right: 0;
}
/* line 92, ../sass/views-styles.scss */
.page-discover .views-widget-filter-date_filter_1 .container-inline-date label,
.page-discover .views-widget-filter-date_filter .container-inline-date label {
  line-height: 1.5em;
  padding: 4px 6px;
  float: left;
  font-weight: normal;
}
/* line 100, ../sass/views-styles.scss */
.page-discover .views-widget-filter-date_filter_1 .container-inline-date .form-item-date-filter-min,
.page-discover .views-widget-filter-date_filter_1 .container-inline-date .form-item-date-filter-1-min,
.page-discover .views-widget-filter-date_filter .container-inline-date .form-item-date-filter-min,
.page-discover .views-widget-filter-date_filter .container-inline-date .form-item-date-filter-1-min {
  margin-right: 0;
}
/* line 107, ../sass/views-styles.scss */
.page-discover #edit-date-filter-min-wrapper,
.page-discover #edit-date-filter-max-wrapper {
  display: inline-block;
}
/* line 113, ../sass/views-styles.scss */
.page-discover .views-widget-per-page .form-item.form-type-item > label {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 0.5em;
}
/* line 118, ../sass/views-styles.scss */
.page-discover .views-widget-per-page .form-item.form-type-item .form-item-items-per-page-item label {
  font-weight: normal;
  line-height: 1.5em;
  padding: 4px 6px;
  float: left;
  font-weight: normal;
}
/* line 130, ../sass/views-styles.scss */
.page-discover .views-exposed-widget.views-submit-button,
.page-discover .views-exposed-widget.views-reset-button {
  display: inline-block;
  margin: 0;
}
/* line 133, ../sass/views-styles.scss */
.page-discover .views-exposed-widget.views-submit-button .form-submit,
.page-discover .views-exposed-widget.views-reset-button .form-submit {
  margin-top: 0;
}
