/**
 * @file
 * Views Styling
 */
/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
/* line 18, ../sass/views-styles.scss */
.views-displays .secondary li {
  float: none;
  margin: 0 6px 0;
}
/* line 24, ../sass/views-styles.scss */
.views-displays .secondary a:link,
.views-displays .secondary a:visited {
  text-shadow: none;
  padding: 2px 7px 3px;
}
/* line 29, ../sass/views-styles.scss */
.views-displays .secondary .open > a {
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}
/* line 31, ../sass/views-styles.scss */
.views-displays .secondary .open > a:hover {
  color: #333;
}
/* line 36, ../sass/views-styles.scss */
.views-displays .secondary .action-list li {
  margin: 0;
}
/* line 38, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:first-child {
  -webkit-border-radius: 0 7px 0 0;
  -moz-border-radius: 0 7px 0 0;
  -ms-border-radius: 0 7px 0 0;
  -o-border-radius: 0 7px 0 0;
  border-radius: 0 7px 0 0;
}
/* line 41, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:last-child {
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}

/* line 47, ../sass/views-styles.scss */
.views-row-last .node-teaser {
  border: none;
}

/**
 * Discover page exposed filters form
 */
/* line 56, ../sass/views-styles.scss */
.page-discover .view-content {
  clear: both;
}
/* line 62, ../sass/views-styles.scss */
.page-discover .views-exposed-widgets .views-exposed-widget {
  margin-bottom: 1em;
}
/* line 68, ../sass/views-styles.scss */
.page-discover .views-exposed-widgets .views-widget-filter-keys,
.page-discover .views-exposed-widgets .views-widget-filter-field_scenario_subject_tid,
.page-discover .views-exposed-widgets .views-widget-filter-field_scenario_location_tid {
  width: 20em;
}
/* line 72, ../sass/views-styles.scss */
.page-discover .views-exposed-widgets .form-type-textfield input[type="text"] {
  width: 18em;
  margin-bottom: 0.5em;
}
/* line 77, ../sass/views-styles.scss */
.page-discover .views-exposed-widgets .form-type-date-text input[type="text"] {
  width: 12em;
}
/* line 81, ../sass/views-styles.scss */
.page-discover .views-exposed-widgets .views-widget-filter-date_filter {
  clear: left;
}
/* line 85, ../sass/views-styles.scss */
.page-discover .views-exposed-widgets .description {
  font-size: 10.998px;
}
/* line 90, ../sass/views-styles.scss */
.page-discover .widget-button-collection {
  width: 281px;
  float: right;
  padding: 1em;
  font-size: 1.23em;
  border: 1px solid transparent;
  background: #eeeeee;
  border-radius: 4px;
  margin: 1em 0 1em 0;
}
/* line 101, ../sass/views-styles.scss */
.page-discover .widget-button-collection .views-exposed-widget {
  padding: 0;
  float: none;
  display: inline-block;
}
/* line 106, ../sass/views-styles.scss */
.page-discover .widget-button-collection .views-exposed-widget input.form-submit {
  margin-top: 0;
  margin-right: 1em;
  margin-bottom: 1em;
}
